
// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "utility";
@import "colours";

.header-image img {
    width: 100%;
}

body {
    background: #eee;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

// .is-invalid input,
// .is-invalid select,
// .is-invalid textarea,
// {
//     border: 1px solid red;
// }
//
// .invalid-feedback {
//     color: red;
// }











//
